body {
    text-align: center;
    background-color: #DDD;
}
.container {
    width: initial;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    background-color: #FFF;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
#header {
    color: #FFF;
    background-color: #1DABDA;
    margin: 0;
    font-size: 18px;
    padding: 8px;
    text-align: left;
    font-family: 'Roboto Slab', serif;
    position: relative;
    box-shadow: 0px 1px 1px #969696;
}
#footer, #footer a, #footer a:hover {
    color: #FFF;
    background-color: #1DABDA;
    margin: 0;
    font-size: 1em;
    padding: 4px;
    text-align: center;
}
#hypeSpan {
    display: inline-block;
    color: #2E7086;
    font-size: 15px;
    line-height: 15px;
}
div.ui-datepicker {
    font-size: 19px;
    border-radius: 0;
}
.ipoResultRow {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 5px;
    cursor: pointer;
}
.symbol {
    font-size: 18px;
    color: #5A5A5A;
}
.companyName {
    color: #666;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tweet {
    font-size: 24px;
    background-color: rgb(252, 240, 186);
    padding: 5px;
    color: rgb(124, 124, 124);
    border-radius: 3px;
    width: 90px;
    height: 45px;
    text-align: center;
    display: inline-block;
}
.hype {
    font-size: 24px;
    background-color: rgb(252, 240, 186);
    padding: 5px;
    color: rgb(124, 124, 124);
    border-radius: 3px;
    width: 45px;
    height: 45px;
    text-align: center;
    display: inline-block;
}
.ipoResultRowSlider {
    display: none;
    border-top: 1px solid #D3E7ED;
    margin-top: 5px;
    padding: 5px 5px;
    background-color: #E6F9FF;
    font-size: 12px;
    color: #777777;
}
.sliderHeader {
    width: 80px;
    display: inline-block;
    font-size: 1.3em;
}
.prices {
    display: inline-block;
    font-size: 1.3em;
    color: rgb(118, 184, 205);
}
.glyphicon-arrow-right {
    font-size: 12px;
    display: inline-block;
    width: 20px;
    text-align: center;
}
.growth {
    display: block;
    font-size: 1.3em;
    text-align: center;
    width: 88px;
}
.gain {
    color: rgb(70, 160, 70);
}
.loss {
    color: rgb(242, 125, 125);
}
.offer {
    margin-top: 3px;
    margin-bottom: 3px;
}
.market {
    margin-top: 10px;
    margin-bottom: 3px;
}
#noResults {
    display: none;
    padding: 15px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
    background-color: #1DABDA;
    font-weight: normal;
    color: #fff;
    border: 1px solid #87A6B0;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: #2E7086 url("images/ui-bg_highlight-hard_100_fafaf4_1x100.png") 50% 50% repeat-x !important;
}
.ui-widget-content {
    border: none;
}
.ui-datepicker .ui-datepicker-header {
    padding: 0;
}
.ui-widget-header {
    background-color: #DDD;
    background: none;
    border: none;
    color: #5A5A5A;
    font-weight: normal;
}
.ui-datepicker td {
    width: 14.28%;
}
.ui-datepicker th {
    font-weight: normal;
    font-size: .8em;
    padding: .4em .3em;
}
.ui-datepicker-calendar thead tr {
    color: #5A5A5A;
    font-weight: normal;
}
#datepicker .ui-widget-header .ui-datepicker-next .ui-icon, #datepicker .ui-widget-header .ui-datepicker-prev .ui-icon, .ui-widget-header .ui-datepicker-prev-hover, .ui-widget-header .ui-state-hover {
    background: none !important;
    border: 0 !important;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    width: 15px;
}
.ui-widget-header a {
    color: #AEE1F1;
}
.ui-widget-header .ui-state-hover {
    color: #1DABDA !important;
}
.hypeVal_7, .hypeVal_8, .hypeVal_9, .hypeVal_10 {
    background-color: rgb(201, 252, 203);
}
.hypeVal_1, .hypeVal_2, .hypeVal_3 {
    background-color: rgb(252, 186, 186);
}