body {
    text-align: center;
    background-color: #DDD;
}
.container {
    width: initial;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    background-color: #FFF;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
#header h1 {
    color: white;
    background-color: #459e00;
    margin: 0;
    font-size: 21px;
    padding: 10px 5px;
    text-align: left;
}
div.ui-datepicker {
    font-size: 19px;
    border-radius: 0;
}
.ipoResultRow {
    border: 1px solid #ddd;
    text-align: left;
    padding: 5px;
    cursor: pointer;
}
.symbol {
    font-size: 18px;
    color: #5A5A5A;
}
.companyName {
    color: #666;
}
.hype {
    font-size: 24px;
    background-color: rgb(252, 240, 186);
    padding: 5px;
    color: rgb(124, 124, 124);
    border-radius: 3px;
    width: 45px;
    height: 45px;
    text-align: center;
}
.ipoResultRowSlider {
    display: none;
    border-top: 1px solid #DDD;
    margin-top: 5px;
    padding: 10px 5px;
    background-color: #FFFAE4;
    font-size: 12px;
}
.offeringPrice, .closingPrice, .marketPrice {
    width: 150px;
    display: inline-block;
}
.offering, .closing, .open {
    display: inline-block;
}
.growth {
    display: block;
    font-size: 20px;
    text-align: center;
    width: 90px;
}
.gain {
    color: green;
}
.loss {
    color: red;
}
.market {
    margin-top: 10px;
}

#noResults {
	display: none;
	padding: 15px;
}